<!DOCTYPE html>
<html>
<head>
    <title>{{ code }} - Erreur</title>
</head>
<body>
    <h1>{{ code }} - {{ message }}</h1>
    <p>Nous sommes désolés, mais une erreur est survenue.</p>
</body>
</html>
